.m-top-30{
    margin-top: 30px;
}
.title-page{
    font-size: 28px;
    color: #ce5804;
    margin-top: 10px;
    margin-bottom: 20px;
}
.part-title{
    color: #056571;
}
.btn-success {
    background-color: #2f9357!important;
    color: #fff;
}
.btn-warning {
    background-color: #ce5804!important;
    color: #fff;
}