.title-page{
    font-size: 28px;
    color: #ce5804;
    margin-top: 10px;
    margin-bottom: 20px;
}
.part-title{
    color: #056571;
}
.btn-default {
    background-color: #6e8386 !important;
    color: #fff;
}
hr{
    border-top: solid 1px #056571
}

.btn-primary {
    background-color: #056571!important;
    color: #fff;
}
