hr{
    border-top: solid 1px #056571
}

.btn-primary {
    color: #fff;
    background-color: #056571;
    border-color: #0e8d9d;
}

.btn-primary:hover {
    color: #fff;
    background-color: #064e57;
    border-color: #136f7a;
}
.title-page{
    font-size: 28px;
    color: #ce5804;
    margin-top: 10px;
    margin-bottom: 20px;
}
.part-title{
    color: #056571;
}
.btn-default {
    background-color: #056571!important;
    color: #fff;
}
.btn.btn-sm {
    padding: .5rem 1.6rem;
    font-size: .64rem;
}

.btn-primary {
    background-color: #056571!important;
    color: #fff;
    border-color: #0e8d9d;
    padding: .5rem 1.6rem;
    font-size: .64rem;
}
.btn-primary:hover {
    background-color: #056571!important;
    color: #fff;
    border-color: #0e8d9d;
}