<form [formGroup]="form">
    <h2 class="title-page">Incluir Aluno</h2>
    <div class="row">   
        <div class="col-lg-4">
            <div class="form-group">
            <label for="inputNome">Nome</label>
            <input type="text" class="form-control" id="inputNome" formControlName="nome">
            </div>
        </div>
        <div class="col-lg-3">   
            <div class="form-group">
                <label for="inputIdent">Identidade</label>
                <input type="text" class="form-control" id="inputIdent" aria-describedby="idHelp" placeholder="" formControlName="identidade">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
            <label for="inputCpf">CPF</label>
            <input type="text" class="form-control" id="inputCpf" formControlName="cpf">
            </div>
        </div>
    </div>
    <div class="row">           
        <div class="col-lg-4">   
            <div class="form-group">
                <label for="inputEmail">E-mail</label>
                <!--<div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>-->                
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Digite seu e-mail mais utilizado" formControlName="email">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
            <label for="inputCel">Telefone</label>
            <input type="phone" class="form-control" id="inputCel" formControlName="telefone">
            </div>
        </div>
    </div>
    <div class="row">   
        <div class="col-lg-4">   
            <div class="form-group">
                <label for="inputEnde">Endereço</label>
                <input type="email" class="form-control" id="inputEnde" aria-describedby="emailHelp" placeholder="Digite seu e-mail mais utilizado" formControlName="logradouro">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
            <label for="inputNum">Número/Complemento</label>
            <input type="phone" class="form-control" id="inputNum" formControlName="numero">
            </div>
        </div>
    </div>
    <div class="row">   
        <div class="col-lg-3">
            <div class="form-group">
            <label for="inputBairro">Bairro</label>
            <select class="form-control" id="inputCidade">
                <option value="1">Icaraí</option>
                <option value="2">Ibirapuera</option>
                <option value="3"></option>
            </select> 
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="inputCidade">Cidade</label>
                <select class="form-control" id="inputCidade">
                    <option value="1">Niterói</option>
                    <option value="2">São Paulo</option>
                    <option value="3">Santa Catarina</option>
                </select>  
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
            <label for="inputUF">UF</label>
            <select class="form-control" id="inputUF">
                <option value="1">RJ</option>
                <option value="2">SP</option>
                <option value="3">SC</option>
            </select>    
            </div>
        </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary" (click)="submit()">Cadastrar</button>
</form>