<form [formGroup]="form">
    <div class="row"> 
        <div class="col-lg-12"> 
          <h2 class="title-page">Incluir Aluno</h2>
        </div>
      </div>
    <div class="row">   
        <div class="col-lg-4">
            <div class="form-group">
            <label for="inputNome">Nome</label>
            <input type="text" class="form-control" id="inputNome" formControlName="nome">
            </div>
        </div>
        <div class="col-lg-3">   
            <div class="form-group">
                <label for="inputIdent">Identidade</label>
                <input type="text" class="form-control" id="inputIdent" aria-describedby="idHelp" placeholder="" formControlName="identidade">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
            <label for="inputCpf">CPF</label>
            <input type="text" class="form-control" id="inputCpf" formControlName="cpf">
            </div>
        </div>
    </div>
    <div class="row">           
        <div class="col-lg-4">   
            <div class="form-group">
                <label for="inputEmail">E-mail</label>
                <!--<div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1">@</span>
                </div>-->                
                <input type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" placeholder="Digite seu e-mail mais utilizado" formControlName="email">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
            <label for="inputCel">Telefone</label>
            <input type="phone" class="form-control" id="inputCel" formControlName="telefone">
            </div>
        </div>
    </div>
    <div class="row">   
        <div class="col-lg-4">   
            <div class="form-group">
                <label for="inputEnde">Endereço</label>
                <input type="email" class="form-control" id="inputEnde" aria-describedby="emailHelp" formControlName="logradouro">
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
            <label for="inputNum">Número/Complemento</label>
            <input type="phone" class="form-control" id="inputNum" formControlName="numero">
            </div>
        </div>
    </div>
    <div class="row">   
        <div class="col-lg-3">
            <div class="form-group">
            <label for="inputBairro">Bairro</label>
            <select class="form-control" id="inputCidade">
                <option value="Selecione">Selecione</option>
                <option value="Icaraí">Icaraí</option>
                <option value="Centro">Centro</option>
                <option value="Piratininga">Piratininga</option>
                <option value="Ingá">Ingá</option>
            </select> 
            </div>
        </div>
        <div class="col-lg-3">
            <div class="form-group">
                <label for="inputCidade">Cidade</label>
                <select class="form-control" id="inputCidade">
                    <option value="Selecione">Selecione</option>
                    <option value="Niterói">Niterói</option>
                    <option value="Rio de Janeiro">Rio de Janeiro</option>
                    <option value="Petrópolis">Petrópolis</option>
                </select>  
            </div>
        </div>
        <div class="col-lg-1">
            <div class="form-group">
            <label for="inputUF">UF</label>
            <select class="form-control" id="inputUF">
                <option value="RJ">RJ</option>
                <option value="SP">SP</option>
                <option value="SP">MG</option>
                <option value="SP">ES</option>
                <option value="SC">SC</option>
                <option value="RJ">PR</option>
                <option value="SP">RS</option>
            </select>    
            </div>
        </div>
    </div>
    
    <div class="row">           
        <div class="col-lg-12">   
            <hr>
            <button type="button" mdbBtn color="default" rounded="true" size="sm" class="my-0" (click)="submit()">SALVAR</button>
        </div>
    </div>
</form>