.scroll-list{
    height: 400px;
    overflow: auto;
    width: 100%;
}
.table-siga{
    background-color: #23a2b0 ;
}
.mb-0{
    margin-bottom: 0;
}
.mt-20{
    margin-top: 20px;
}
table.table thead th{
    cursor: pointer;
    background-color: #79b3ba;
}

.md-form input[type=text]{
    border-bottom: 1px solid #7d9fc1
}
.title-page{
    font-size: 28px;
    color: #ce5804;
    margin-top: 10px;
    margin-bottom: 0px;
}
.part-title{
    color: #056571;
}