<h2 class="title-page">Pesquisar Aluno</h2>
<div class="row">
  <div class="col-md-6">
    <form [formGroup]="form">
      <div class="md-form">
        <input type="text" class="form-control" formControlName="searchText" [(ngModel)] = "searchText" (keyup)="searchItems()" id="search-input"
              mdbInput >
        <label for="search-input">Por Nome ou CPF</label>
      </div>
    </form>
  </div>
  <table mdbTable #tableEl="mdbTable" stickyHeader="true" hover="true" striped="FALSE" class="z-depth-1">
    <thead class="sticky-top">
    <tr>
      <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="elements" [sortBy]="headElements[i]"
          scope="col" title="Ordenar">{{head | titlecase}} <mdb-icon fas icon="sort" title="Ordenar"></mdb-icon>

      </th>
    </tr>
    </thead>
    <tbody #row>
    <tr mdbTableCol (rowCreated)="onRowCreate($event)" (rowRemoved)="onRowRemove($event)" *ngFor="let el of elements; let i = index">
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.nome}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.identidade}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.cpf}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.email}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">{{el.telefone}}</td>
      <td *ngIf="i+1 >= mdbTablePagination.firstItemIndex && i < mdbTablePagination.lastItemIndex">            
        <span class="table-remove">
          <button type="button" mdbBtn color="danger" rounded="true" size="sm" class="my-0" >Remove</button>
        </span>
      </td>
    </tr>
    </tbody>
    <tfoot class="grey lighten-5 w-100">
    <tr>
      <td colspan="6">
        <mdb-table-pagination [tableEl]="mdbTable" paginationAlign="" [searchDataSource]="elements"></mdb-table-pagination>
      </td>
    </tr>
    </tfoot>
  </table>
</div>